[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
martor = "==1.4.1"
django-environ = "==0.4.5"
django-extensions = "==2.2.1"
django-taggit = "==1.1.0"
psycopg2 = "==2.8.3"
pymdown-extensions = "==6.1"
readtime = "==1.1.1"
Django = "==2.2.5"
Markdown = "==3.1.1"
django-taggit-labels = "==0.6.0"
gunicorn = "*"
getenv = "*"

[dev-packages]
black = "*"
ipdb = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
