{% load static %}

{% block head %}

<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if post_list %}
    <title>{{ site.title }} | {{ site.description }}</title>
    <!--- {%if paginator and paginator.page != 1 %} - Page {{ paginator.page }}{% endif %} -->
  {% elif post %}
    <title>{{ description }}</title>
  {% endif %}

  {% if description %}
    <meta name="description" content="{{ description | truncatechars:160 }} ">
  {% else %}
    <meta name="description" content="{{ site.description }} ">
  {% endif %}
  <!----
      {%if paginator and paginator.page != 1 %} - Página {{ paginator.page }} {% endif %}
      {%if page.slug == 'category' %} Categoria: {{ page.title }}{% endif %}
      {%if page.slug == 'tag' %} Tag: {{ page.title }}{% endif %}
  -->

  <meta name="description" content="{{ page_description }}">
  <meta name="keywords" content="{% if post.tags %}{{ post.tags }}{% else %}{{ site.keywords }}{% endif %}">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  <!-- Social: Facebook / Open Graph -->
{% if post %}
  <meta property="og:type" content="article">
  <meta property="article:author" content="{{ site.author_info.name }}">
  <meta property="article:section" content="{{ post.tags | join:", " }}">
  <meta property="article:tag" content="{{ page.keywords }}">
  <meta property="article:published_time" content="{{ page.date }}">
{% else%}
  <meta property="og:type" content="website">
{% endif %}
  <meta property="og:url" content="{{ request.get_full_path }}">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:image" content="{{ page_image }}">
  <meta property="og:description" content="{{ page_description }}">
  <meta property="og:site_name" content="{{ author_info.name }}">
  <meta property="og:locale" content="en_US">

  <!-- Social: Twitter -->
  <meta name="twitter:card" content="{{ site.twitter_card }}">
  <meta name="twitter:site" content="{{ site.twitter }}">
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:description" content="{{ page_description }}">

  <!-- Social: Google+ / Schema.org  -->
  <meta itemprop="name" content="{{ page_title }}">
  <meta itemprop="description" content="{{ page_description }}">

  {% comment %}
  <!-- rel prev and next -->
  {% if paginator.previous_page %}
    <link rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  {% if paginator.next_page %}
    <link rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  {% endcomment %}

  <link href="{% static 'blog/css/main.css' %}" rel="stylesheet" type="text/css" />

  <!-- Canonical link tag -->
  <link rel="canonical" href="{{ request.get_full_path }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ request.get_host }}{{ "/feed.xml"">

  <!-- Font awesome for Asciidoc -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

  <script type="text/javascript">
  var disqus_shortname = '{{ site.disqus_shortname }}';
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>

{% endblock %}
