<aside class="share">

  <h4>Share this.</h4>
  <a href="http://twitter.com/share?text={{ post.title }}&amp;url={{ request.build_absolute_uri }}&amp;hashtags=web,dev,blog&amp;via={{ site.twitter }}"
  onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">Twitter</a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=235');return false;">Facebook</a>

</aside>
